.background_img
{
    background-image: url(/Project/images/watches.jpg);
}

h2, label{
    color: white;
}


input {

    margin: 10px;

    padding: 10px;

    display: inline-block;
     
    color: black;

}    

.heading {

    text-align: center;

    text-decoration: underline;

}

